{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind CSS Skeleton</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="bg-grey-lightest leading-normal tracking-normal" style="background-color: rgba(162,162,162,0.05)">
{% block content %}
{% endblock %}
</body>

</html>